{{ define "main" }}
<main class="home">
  <h2>words</h2>
  <div class="row">
  {{ range $i, $article := first 2 .Params.articles }}
    {{ $page := $.Site.GetPage "page" . }}
    {{ if eq $i 0 }}
      {{ partial "large-brick.html" $page }}
    {{ else }}
      {{ partial "brick.html" $page }}
    {{ end }}
  {{ end }}
  </div>

  <div class="row">
  {{ range last 3 .Params.articles }}
    {{ $page := $.Site.GetPage "page" . }}
    {{ partial "brick.html" $page }}
  {{ end }}
  </div>

  <p><a href="/archive/">archive</a></p>

  <h2>bytes</h2>
  <div class="row">
  {{ range .Params.featuredProjects }}
    {{ $page := $.Site.GetPage "taxonomy" . }}
    {{ partial "project-brick.html" $page }}
  {{ end }}
  </div>


  <h2>me</h2>

  <img class="portrait" src="/assets/migrated/portrait.jpg" alt="A photo of me: gazing into the camere in a Dreamer t-shirt.">

  <p>
    I am a freelance designer, coder and teacher.<br>
    I use technology to cope with problems.<br>
    My background is in sociology, political science and media studies.
  </p>

  <p><b>I am interested in&nbsp;understanding.</b></p>
</main>
{{ end }}
