<!doctype html>
<html class="no-js" lang="{{ block "lang" . }}{{ .Site.LanguageCode }}{{ end }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary | plainify }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="manifest" href="{{ "/manifest.webmanifest" | relURL }}">
  <meta name="application-name" content="{{ $title }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e2dbdf">
  <meta name="msapplication-TileColor" content="#e2dbdf">
  <meta name="theme-color" content="#e2dbdf">

  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
  {{ end }}

  {{ partial "og.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Inconsolata:400,700&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{{ "static/css/main.css" | relURL }}">
  <script defer src="{{ "static/js/main.bundle.js" | relURL }}"></script>
</head>
<body>
  {{ block "header" . }}
    {{ partial "header.en.html" . }}
  {{ end }}
  {{ block "main" . }}
  {{ end }}
  {{ block "footer" . }}
    {{ partial "footer.en.html" . }}
  {{ end }}
  </div>
</body>
</html>
