@import 'sanitize.css';

:root {
  --bg: rgb(243, 237, 230);
  --trans-bg: rgba(243, 237, 230, 0.5);
  --gray: rgb(58, 63, 58);
  --silver: rgb(90, 90, 98);
  --faint: rgba(50, 50, 50, 0.5);
  --violet: rgb(40, 50, 87);
  --soft: rgba(219, 211, 220, 0.5);
  --medium: rgba(219, 211, 220, 0.9);
  --red: rgb(87, 40, 50);
  --pink: rgb(157, 72, 89);
  --black: rgba(0, 0, 0, 0.8);
  --sepia: rgb(95, 34, 23);
  --trans-sepia: rgba(115, 64, 33, 0.1);

  /* chroma */
  --chroma-keyword: #006699;
  --chroma-operator: #555555;
  --chroma-operator-word: #000000;
  --chroma-number: #ff6600;
  --chroma-string: #cc3300;
  --chroma-regex: #33aaaa;
  --chroma-symbol: #ffcc33;
  --chroma-prompt: #000099;
  --chroma-error: #aa0000;
  --chroma-error-bg: #ffaaaa;
  --chroma-deleted: #ffcccc;
  --chroma-comment: #0099ff;
  --chroma-comment-pre: #009999;
  --chroma-line: #ffffcc;
  --chroma-na: #330099;
  --chroma-nb: #336666;
  --chroma-nc: #00aa88;
  --chroma-no: #336600;
  --chroma-nd: #9999ff;
  --chroma-ni: #999999;
  --chroma-ne: #cc0000;
  --chroma-nf: #cc00ff;
  --chroma-nl: #9999ff;
  --chroma-nn: #00ccff;
  --chroma-nt: #330099;
  --chroma-nv: #003333;
  --chroma-gr: #ff0000;
  --chroma-gh: #003300;
  --chroma-gi: #ccffcc;
  --chroma-go: #aaaaaa;
  --chroma-gu: #003300;
  --chroma-gt: #99cc66;
  --chroma-w: #bbbbbb;

  background-image: url('/img/horizontal.svg'), url('/img/horizontal.svg');
  background-position: 50% -620px, 50% 112%;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--bg);
  margin: 0;
  font-size: 18px;
}

main,
article {
  margin: 0 auto;
  padding: 0 2rem 4rem;
  max-width: 42rem;
}

footer {
  padding: 0 2rem 4rem;
}

p,
td,
th,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  color: var(--gray);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 0;
}

p,
li,
blockquote {
  line-height: 1.7rem;
}

li {
  margin-top: 1rem;
}

blockquote {
  padding: 0.5rem 2rem;
  margin: 1.5rem 0;
  box-shadow: 0 0 5px 5px var(--trans-sepia);
  background: var(--trans-sepia);
}

blockquote p {
  font-style: italic;
  font-weight: 300;
  color: var(--sepia);
}

pre,
code {
  font-family: Inconsolata, monospace;
  font-size: 1rem;
}

a {
  color: var(--violet);
  text-decoration: none;
  box-shadow: rgba(121, 135, 193, 0.3) 0 -0.2em 0 0 inset;
}

a:hover {
  box-shadow: var(--pink) 0 -0.2em 0 0 inset;
}

article a:visited,
main a:visited {
  color: var(--red);
  box-shadow: rgba(193, 121, 135, 0.3) 0 -0.2em 0 0 inset;
}

header {
  /* full-width */
  width: 100vw;
  max-width: none;
  margin-left: -50vw;
  position: relative;
  left: 50%;
  padding: 2rem;
  display: flex;
}

header nav {
  flex: 1;
  text-align: right;
}

header nav ul,
header nav li {
  display: inline;
  padding-left: 0;
}

header h1 {
  font-size: 1rem;
  flex: 1;
  margin: 0;
}

header nav li { margin-left: 1rem; }
header nav li:last-child { margin-left: 2rem; }

hr {
  margin: 3rem auto;
  padding: 0 1rem;
  width: 10rem;
  border: 0.5rem solid var(--pink);
}

.articles {
  display: block;
  list-style-type: none;
  padding-left: 0;
}

.articles a {
  display: block;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 1rem;
}

.articles .title {
  font-weight: bold;
}

.articles a:hover {
  background: var(--soft);
  box-shadow: 0 0 10px 10px var(--soft);
}

.articles a:hover .title {
  text-decoration: underline;
}

.articles .date {
  color: var(--faint);
  display: block;
}

.articles .summary {
  color: var(--faint);
}

article > img,
article > figure > img,
article > p > img {
  display: block;
  width: calc(100% + 4rem);
  margin-left: -2rem;
}

article h1,
main h1 {
  /* full-width */
  width: 100vw;
  margin-left: -50vw;
  position: relative;
  left: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

article h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

article p.date {
  text-align: center;
  color: var(--faint);
  margin: 0 0 3rem;
}

main.home {
  margin: 0;
  max-width: none;
}

main.home h1 {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.brick {
  overflow: hidden;
  display: block;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(135deg, var(--trans-bg) 0%, var(--medium) 100%);
}

.brick:hover {
  background: linear-gradient(135deg, var(--trans-bg) 0%, var(--pink) 100%);
}

.large-brick {
  flex: 2;
}

.brick h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 3rem 1rem 1rem;
}

.large-brick h2 {
  font-size: 2rem;
  padding: 2rem 1rem 1rem;
}

.brick img {
  display: block;
  position: absolute;
  object-fit: fill;
  object-position: 50% 50%;
  opacity: 0.5;
  z-index: -1;
}

.brick p {
  color: var(--faint);
  margin: 0 1rem 1rem;
}

.brick .summary {
  height: 6rem;
  overflow: hidden;
  padding: 0 1rem;
  margin: 0;
}

.brick .date {
  color: var(--pink);
  font-weight: bold;
}

@media screen and (min-width: 700.1px) {
  .row { display: flex; }
  .brick { flex: 1; }
  .large-brick { flex: 2; }
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 15px;
    padding-top: 1rem;
  }

  header,
  footer,
  article,
  main { padding: 0 1rem; }

  header { display: block; }
  header h1 { font-size: 1.5rem; }

  header nav {
    text-align: left;
    padding-top: 1rem;
  }

  header nav li:first-child { margin-left: 0; }

  article h1,
  main h1 {
    text-align: left;
    padding: 1rem;
  }

  article p.date { text-align: left; }

  article > img,
  article > figure > img,
  article > p > img {
    display: block;
    width: 100vw;
    margin-left: -50vw;
    position: relative;
    left: 50%;
  }

  .brick p.date { padding-bottom: 1rem; }
}

/* CHROMA */

/* Background */
.chroma {
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

/* Error */
.chroma .err {
  color: var(--chroma-error);
  background-color: var(-error-bg);
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: var(--chroma-line);
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  display: block;
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* Keyword */
.chroma .k {
  color: var(--chroma-keyword);
  font-weight: bold;
}

/* KeywordConstant */
.chroma .kc {
  color: var(--chroma-keyword);
  font-weight: bold;
}

/* KeywordDeclaration */
.chroma .kd {
  color: var(--chroma-keyword);
  font-weight: bold;
}

/* KeywordNamespace */
.chroma .kn {
  color: var(--chroma-keyword);
  font-weight: bold;
}

/* KeywordPseudo */
.chroma .kp {
  color: var(--chroma-keyword);
}

/* KeywordReserved */
.chroma .kr {
  color: var(--chroma-keyword);
  font-weight: bold;
}

/* KeywordType */
.chroma .kt {
  color: #007788;
  font-weight: bold;
}

/* NameAttribute */
.chroma .na {
  color: var(--chroma-na);
}

/* NameBuiltin */
.chroma .nb {
  color: var(--chroma-nb);
}

/* NameClass */
.chroma .nc {
  color: var(--chroma-nc);
  font-weight: bold;
}

/* NameConstant */
.chroma .no {
  color: var(--chroma-no);
}

/* NameDecorator */
.chroma .nd {
  color: var(--chroma-nd);
}

/* NameEntity */
.chroma .ni {
  color: var(--chroma-ni);
  font-weight: bold;
}

/* NameException */
.chroma .ne {
  color: var(--chroma-ne);
  font-weight: bold;
}

/* NameFunction */
.chroma .nf {
  color: var(--chroma-nf);
}

/* NameLabel */
.chroma .nl {
  color: var(--chroma-nl);
}

/* NameNamespace */
.chroma .nn {
  color: var(--chroma-nn);
  font-weight: bold;
}

/* NameTag */
.chroma .nt {
  color: var(--chroma-nt);
  font-weight: bold;
}

/* NameVariable */
.chroma .nv {
  color: var(--chroma-nv);
}

/* LiteralString */
.chroma .s {
  color: var(--chroma-string);
}

/* LiteralStringAffix */
.chroma .sa {
  color: var(--chroma-string);
}

/* LiteralStringBacktick */
.chroma .sb {
  color: var(--chroma-string);
}

/* LiteralStringChar */
.chroma .sc {
  color: var(--chroma-string);
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--chroma-string);
}

/* LiteralStringDoc */
.chroma .sd {
  color: var(--chroma-string);
  font-style: italic;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: var(--chroma-string);
}

/* LiteralStringEscape */
.chroma .se {
  color: var(--chroma-string);
  font-weight: bold;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--chroma-string);
}

/* LiteralStringInterpol */
.chroma .si {
  color: var(--chroma-error);
}

/* LiteralStringOther */
.chroma .sx {
  color: var(--chroma-string);
}

/* LiteralStringRegex */
.chroma .sr {
  color: var(--chroma-regex);
}

/* LiteralStringSingle */
.chroma .s1 {
  color: var(--chroma-string);
}

/* LiteralStringSymbol */
.chroma .ss {
  color: var(--chroma-symbol);
}

/* LiteralNumber */
.chroma .m {
  color: var(--chroma-number);
}

/* LiteralNumberBin */
.chroma .mb {
  color: var(--chroma-number);
}

/* LiteralNumberFloat */
.chroma .mf {
  color: var(--chroma-number);
}

/* LiteralNumberHex */
.chroma .mh {
  color: var(--chroma-number);
}

/* LiteralNumberInteger */
.chroma .mi {
  color: var(--chroma-number);
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--chroma-number);
}

/* LiteralNumberOct */
.chroma .mo {
  color: var(--chroma-number);
}

/* Operator */
.chroma .o {
  color: var(--chroma-operator);
}

/* OperatorWord */
.chroma .ow {
  color: var(--chroma-operator-word);
  font-weight: bold;
}

/* Comment */
.chroma .c {
  color: var(--chroma-comment);
  font-style: italic;
}

/* CommentHashbang */
.chroma .ch {
  color: var(--chroma-comment);
  font-style: italic;
}

/* CommentMultiline */
.chroma .cm {
  color: var(--chroma-comment);
  font-style: italic;
}

/* CommentSingle */
.chroma .c1 {
  color: var(--chroma-comment);
  font-style: italic;
}

/* CommentSpecial */
.chroma .cs {
  color: var(--chroma-comment);
  font-weight: bold;
  font-style: italic;
}

/* CommentPreproc */
.chroma .cp {
  color: var(--chroma-comment-pre);
}

/* CommentPreprocFile */
.chroma .cpf {
  color: var(--chroma-comment-pre);
}

/* GenericDeleted */
.chroma .gd {
  background-color: var(--chroma-deleted);
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma .gr {
  color: var(--chroma-gr);
}

/* GenericHeading */
.chroma .gh {
  color: var(--chroma-gh);
  font-weight: bold;
}

/* GenericInserted */
.chroma .gi {
  background-color: var(--chroma-gi);
}

/* GenericOutput */
.chroma .go {
  color: var(--chroma-go);
}

/* GenericPrompt */
.chroma .gp {
  color: var(--chroma-prompt);
  font-weight: bold;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: var(--chroma-gu);
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  color: var(--chroma-gt);
}

/* TextWhitespace */
.chroma .w {
  color: var(--chroma-w);
}
