{{ define "main" }}
<article>
  <h1>
    {{ if .Params.img }}
      <img class="project-icon" src="/img/{{ .Params.img }}.svg">
    {{ end }}
    {{ .Title }}
  </h1>
  <p class="subtitle">
    {{ .Params.description }}
    {{ if .Params.github }}
      <br>
      {{ partial "icon" "github" }}
      <a href="https://github.com/{{ .Params.github }}">
        github.com/{{ .Params.github }}
      </a>
    {{ end }}
  </p>

  {{ .Content }}

  {{ if gt (len .Data.Pages) 0 }}
  <h2>Související články</h2>
  <ul class="articles">
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">
        <span class="date">{{ .Date.Local.Format "January 2, 2006" }}</span>
        <span class="title">{{ htmlUnescape .Title }}</span>
        <span class="summary">{{ .Summary }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
  {{ end }}
</article>
{{ end }}
